<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://dl.dropboxusercontent.com/scl/fi/5m0qj6rsdrxh57dogx5qb/ipa_file.ipa?rlkey=dkm71xctwo6kp2axcl1ymkr67&st=1i12ljmh&dl=1</string>
        </dict>
        <dict>
          <key>kind</key>
          <string>display-image</string>
          <key>url</key>
          <string>https://kod4k.github.io/ipaload/icon57.png</string>
        </dict>
        <dict>
          <key>kind</key>
          <string>full-size-image</string>
          <key>url</key>
          <string>https://kod4k.github.io/ipaload/icon512.png</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.speed.test1.app</string>
        <key>bundle-version</key>
        <string>211.0</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>Test IPA</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
